/* img {
  width: 100%;
  padding: 0;
  height: 70vh;
  margin-bottom: -3rem;
}
/* .about-main {
  margin-bottom: -5rem;
} */
.container .about .about-main {
  width: 60%;
  position: relative;
  top: 0;
}
